/* 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* 폰트 */
@font-face {
  font-family: "나눔";
  src: url("../font/NanumGothic.woff2");
}

body {
  font-family: "나눔";
}

#container {
  width: 100%;
}

/* header */

header {
  height: 60px;
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  background-color: #fff;
}

.logo {
  margin-top: 5px;
  margin-left: 20px;
}

.menu {
  display: flex;
  text-align: center;
  justify-content: end;
  margin-right: 30px;
}

.menu>li>a {
  width: 120px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.sub {
  display: none;
  width: 120px;
  height: 250px;
  line-height: 35px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  color: white;
}

.sub li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#icon1 {
  position: absolute;
  font-size: 40px;
  right: 20px;
  top: 10px;
  z-index: 99;
  cursor: pointer;
  display: none;
}

#icon2 {
  position: absolute;
  font-size: 40px;
  right: 20px;
  top: 10px;
  z-index: 101;
  cursor: pointer;
  display: none;
}

/* 배너이미지 */
.banner>img {
  width: 100%;
  height: auto;
}

/* contantWrap */
#contantWrap {
  display: flex;
  margin-top: 100px;
}


/* contant */
.contant {
  width: 40%;
}

.contant>ul {
  display: flex;
  height: 50px;
  width: 95%;
  margin: auto;
  margin-top: 20px;

}

.contant>ul li {
  flex: 1;
  line-height: 50px;
  text-align: center;
  background-color: #f0f6f6;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
}

.contant>ul li:hover {
  background-color: pink;
}

.contant .li-1 {
  width: 95%;
  height: 600px;
  overflow: hidden;
  margin: auto;
  position: relative;
}

.contant .li-1>img {
  width: 100%;
}

.contant .li-1>h1 {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  background-color: pink;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;

}

.contant .li-1>h1:hover {
  animation: ani 2s infinite linear;
}

@keyframes ani {
  50% {
    background-color: palevioletred;
  }
}

.contant .li-2 {
  width: 95%;
  margin: auto;
}

.on1 {
  /* 상세정보 / 오시는길에 적용 */
  display: none;
}


/* contant1 */

.contant1 {
  width: 60%;
  border-left: 1px solid silver;
}

.contant1>div {
  width: 70%;
  margin: auto;
}

.contant1 .ticketbox>h1 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
}

.list1 {
  display: flex;
  align-items: center;
  background-color: #f0f6f6;
  padding: 10px;
  justify-content: space-around;
}

.t2 {
  margin: 0 30px;
  font-weight: bold;
}


.btn1>* {
  width: 30px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid silver;
}

#down1,
#down2 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#up1,
#up2 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}



.list2 {
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  background-color: #f0f6f6;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 50%;
  margin-left: 50%;
}


/* 예매 정보 */
.contant1 .rebox {
  margin-top: 40px;
  background-color: #f0f6f6;
}

.rebox>h1 {
  font-size: 20px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
}


.rebox ul {
  width: 80%;
  margin: auto;
}

.rebox>ul>li {
  margin-bottom: 10px;
  font-size: 16px;
}

.rebox>ul>li:last-child {
  margin-bottom: 0;
}

.rebox>ul>li i {
  width: 30px;
  text-align: center;
}

.rebox>ul>li input {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  /* 인풋타입이 넘버 증감 화살표 없애는 */
  -webkit-appearance: none;
  margin: 0;
}

/* 예약주의사항 */
.info {
  background-color: #f0f6f6;
}

.info>div {
  padding: 20px;
  border-bottom: 1px solid silver;
}

.info>ul {
  padding: 20px;
  font-size: 13px;
}

.info>ul>li {
  margin-left: 10px;
  margin-bottom: 8px;
  list-style: circle;
}


/* 이용약관 */

.agree {
  width: 95%;
  margin: auto;
  padding: 10px;
  background-color: #f0f6f6;
}


.agree1>ul>li>p>span,
.agree2>ul>li>p>span {
  /* 내용보기 */
  cursor: pointer;
  color: darkred;
  font-size: 11px;
  width: 50%
}

/* 내용보기 숨겨진 박스 */
.agreeshow1,
.agreeshow2,
.agreeshow3,
.agreeshow4,
.agreeshow5 {
  display: none;
  color: dimgray;
  margin: 30px 0;
  font-size: 11px;


}

table {
  text-align: center;
  width: 80%;
  margin: auto;
  margin: 20px 0;
  border-collapse: collapse;
}

/* agree1, agree2 글자 간격 */
.agree1>p,
.agree2>p {
  margin-bottom: 10px;
}

.agree1>ul>li {
  line-height: 30px;
}


.agree2 {
  margin-top: 30px;
}


/* 총 결제금액 */
.total {
  text-align: center;
  margin: 50px 0;
}

.total>h1>span {
  margin-left: 50px;
  color: darkred;
}

/* 결제하기 */
.agree .pay {
  margin: auto;
  width: 50%;
  height: 50px;
  background-color: rgb(235, 233, 233);
  color: gray;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  margin-bottom: 50px;
}

.agree .pay>h1 {
  font-size: 20px;
}

.on {
  /* 약관 필수 체크시 결제하기 스타일변경 */
  background-color: palevioletred;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}


/* 인풋 : 체크박스 스타일적용 */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  cursor: pointer;
  vertical-align: middle;
  font-size: 13px;
}

/* 체크 전 */
input[type="checkbox"]+label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border: 2px solid #bccbff;
  border-radius: 50%;
  vertical-align: middle;
}

/* 체크 후*/
input[type="checkbox"]:checked+label:before {
  content: "✔";
  border-color: palevioletred;
  color: #4b5370;
  background-repeat: no-repeat;
  background-position: 50%;
}



footer {
  background-color: #00101e;
  color: white;
  height: 100px;
  font-size: 13px;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 1275px) {
  .list2 {
    width: 100%;
    margin-left: 0;
    font-size: 80%;
  }
}

@media screen and (max-width: 1050px) {
  .contant1>div {
    width: 80%;
  }

  .t1,
  .t2 {
    font-size: 80%;
  }

  .total {
    font-size: 90%;
  }

  .agree .pay>h1 {
    font-size: 100%;
  }
}

@media screen and (max-width: 769px) {
  #icon1 {
    display: block;
  }

  .menu {
    display: none;
    position: fixed;
    width: 200px;
    right: -70px;
    margin-top: 12%;
  }

  .menu>li>a {
    width: 150px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .sub {
    width: 150px;
    height: auto;
    line-height: 30px;
  }

  #contantWrap {
    flex-direction: column;
  }

  .contant,
  .contant1 {
    width: 100%;
  }

  .contant1>div {
    width: 95%;
  }

  table {
    text-align: center;
    width: 95%;
    margin: auto;
  }

  .contant .li-1 {
    height: 500px;
  }

  .t1,
  .t2 {
    font-size: 80%;
  }

  input[type="checkbox"]+label:before {
    width: 10px;
    height: 10px;
    line-height: 10px;
  }

  .total {
    font-size: 80%;
  }

  .agree .pay>h1 {
    font-size: 100%;
  }

}



@media screen and (max-width: 500px) {}